<script lang="ts" setup>
    import { Icon } from "@/components"

    import type { Tab, CityInfo } from "@/types"

    interface Props {
        tab: Tab
        citiesInfo: Array<CityInfo>
    }

    interface Emits {
        (e: "update:tab", tab: Props["tab"]): void
    }

    const props = defineProps<Props>()
    const emit = defineEmits<Emits>()
</script>

<template>
    <div class="flex flex-col gap-4">
        <div v-for="(info, index) in props.citiesInfo">
            <div class="flex justify-between items-center">
                <div class="font-bold">{{ info.name }}, {{ info.country }}</div>
                <div v-if="index === 0">
                    <Icon.Cog class="cursor-pointer" @click="emit('update:tab', 'settings')" />
                </div>
            </div>
            <div class="flex justify-between items-center">
                <div style="width: 100px">
                    <img :src="`http://openweathermap.org/img/wn/${info.icon}@2x.png`" />
                </div>
                <div>
                    <h1 class="text-3xl font-bold">{{ info.temp.toFixed(1) }}°C</h1>
                </div>
            </div>
            <div>
                <p>Feels like {{ info.tempFeelsLike.toFixed(1) }}°C. {{ info.description }}</p>
            </div>
            <div>
                <table class="w-full">
                    <tr>
                        <td>
                            <div class="flex gap-1">
                                <span class="flex items-center">
                                    <Icon.Compass />
                                </span>
                                <span>
                                    {{ info.windSpeed.toFixed(1) }}m/s
                                    {{ info.windDirection }}
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="flex gap-1">
                                <span class="flex items-center">
                                    <Icon.Barometer />
                                </span>
                                <span>{{ info.pressure }}hPa</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex gap-1">
                                <span>Humidity: {{ info.humidity }}%</span>
                            </div>
                        </td>
                        <td>
                            <div class="flex gap-1">
                                <span>Dew point: {{ info.dewPoint.toFixed(1) }}°C</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex gap-1">
                                <span>Visibility: {{ info.visibility.toFixed(1) }}km</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
