<script lang="ts" setup>
    import Draggable from "vuedraggable-es"
    import { Icon } from "@/components"

    import { ref, computed } from "vue"
    import { getCityInfo } from "@/utils"

    import type { Tab, CityInfo } from "@/types"

    interface Props {
        tab: Tab
        cityList: Array<string>
        citiesInfo: Array<CityInfo>
    }

    interface Emits {
        (e: "update:tab", tab: Props["tab"]): void
        (e: "update:cityList", cityList: Props["cityList"]): void
        (e: "update:citiesInfo", citiesInfo: Props["citiesInfo"]): void
        (e: "updateCitiesInfo"): Promise<void>
    }

    const props = defineProps<Props>()
    const emit = defineEmits<Emits>()

    const citiesInfo = computed({
        get() {
            return props.citiesInfo
        },
        set(v) {
            emit("update:citiesInfo", v)
        }
    })

    const cityName = ref("")

    async function addCity() {
        try {
            const { name } = await getCityInfo(cityName.value)

            if (!props.cityList.includes(name)) {
                emit("update:cityList", [...props.cityList, name])
            }
        } catch {}

        cityName.value = ""
        await emit("updateCitiesInfo")
    }

    async function removeCity(index: number) {
        const cityList = [...props.cityList]
        cityList.splice(index, 1)
        emit("update:cityList", cityList)
        await emit("updateCitiesInfo")
    }

    function syncLists() {
        emit(
            "update:cityList",
            props.citiesInfo.map(info => info.name)
        )
    }
</script>

<template>
    <div class="flex flex-col gap-4">
        <div class="flex justify-between">
            <div class="font-bold">Settings</div>
            <div class="flex items-center">
                <Icon.Close
                    v-if="citiesInfo.length > 0"
                    class="cursor-pointer"
                    @click="emit('update:tab', 'main')"
                />
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <Draggable
                class="flex flex-col gap-2"
                item-key="name"
                handle=".handle"
                @end="syncLists()"
                v-model="citiesInfo"
            >
                <template #item="{ element, index }">
                    <div class="flex gap-2 p-2 bg-gray-200 rounded">
                        <div class="flex items-center">
                            <Icon.Menu class="handle cursor-pointer" />
                        </div>
                        <div>{{ element.name }}, {{ element.country }}</div>
                        <div class="flex-1"></div>
                        <div class="flex items-center">
                            <Icon.Trash class="cursor-pointer" @click="removeCity(index)" />
                        </div>
                    </div>
                </template>
            </Draggable>
        </div>
        <div>
            <h1 class="font-bold">Add Location:</h1>
            <div class="flex items-center gap-2">
                <div class="w-full">
                    <input class="w-full px-2 py-1 border rounded" v-model="cityName" />
                </div>
                <div>
                    <Icon.Enter class="cursor-pointer" @click="addCity()" />
                </div>
            </div>
        </div>
    </div>
</template>
