<script lang="ts" setup>
    import { MainTab, SettingsTab } from "@/components"

    import { ref, watch } from "vue"
    import { getCityInfo } from "./utils"

    import type { Tab, CityInfo } from "./types"

    const cityList = ref<Array<string>>(JSON.parse(localStorage.getItem("city-list") ?? "[]"))
    const citiesInfo = ref<Array<CityInfo>>([])

    watch(cityList, info => {
        localStorage.setItem("city-list", JSON.stringify(info))
    })

    const tab = ref<Tab>("main")

    async function updateCitiesInfo() {
        citiesInfo.value = []

        for (const city of cityList.value) {
            const info = await getCityInfo(city)
            citiesInfo.value.push(info)
        }
    }

    updateCitiesInfo()
</script>

<template>
    <MainTab
        v-if="tab === 'main' && citiesInfo.length > 0"
        :citiesInfo="citiesInfo"
        v-model:tab="tab"
    />
    <SettingsTab
        v-else
        v-model:tab="tab"
        v-model:cityList="cityList"
        v-model:citiesInfo="citiesInfo"
        @updateCitiesInfo="updateCitiesInfo()"
    />
</template>

<style>
    #weather-widget {
        width: 300px;
        padding: 16px;
    }
</style>
